DATABASE_URL=postgres://user:pass@your-neon-host.neon.tech/moderac?sslmode=require
FUTUREAUTH_SECRET_KEY=your_futureauth_secret_key
# FUTUREAUTH_API_URL=https://future-auth.com
OPENAI_API_KEY=sk-...
# LISTEN_ADDR=0.0.0.0:3000
